@model KrishnaPGCare.Models.TenantModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KrishnaPGCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- Your other head elements here -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
            <div class="container">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a class="navbar-brand text-brand" asp-controller="Home" asp-action="Index">Krishna<span class="color-b">PG Care</span></a>

                <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
                    <ul class="navbar-nav">

                        @if (Model.TenantId > 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Log Out</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item " asp-controller="User" asp-action="ManageProfile">manage profile</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item " asp-controller="User" asp-action="Login">Sign In</a>
                                    <a class="dropdown-item " asp-controller="User" asp-action="ManageTenantProfile">Register</a>
                                </div>
                            </li>
                        }

                    </ul>
                </div>

                <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </nav>
    </header>
    <div class="container" style="margin-top: 200px">

        @if (Model.TenantId > 0)
        {
            <h2>Edit Tenant details</h2>
        }
        else
        {
            <h2>Register as Tenant</h2>
        }

        <form asp-action="AddOrUpdateTenant" asp-controller="User" method="post" class="tenant-form">

            <table class="table table-bordered">
                <tr>
                    <td>
                        <label asp-for="FirstName">First Name:</label>
                    </td>
                    <td>
                        <input asp-for="FirstName" class="form-control" required />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="hidden" asp-for="TenantId" />
                        <label asp-for="LastName">Last Name:</label>
                    </td>
                    <td>
                        <input asp-for="LastName" class="form-control" required />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label asp-for="Email">Email:</label>
                    </td>
                    <td>
                        <input asp-for="Email" class="form-control" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label asp-for="Password">Password:</label>
                    </td>
                    <td>
                        <input asp-for="Password" class="form-control" required type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label asp-for="ContactPhone">Contact Phone:</label>
                    </td>
                    <td>
                        <input asp-for="ContactPhone" class="form-control" required />
                        <span asp-validation-for="ContactPhone" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label asp-for="Address">Address:</label>
                    </td>
                    <td>
                        <input asp-for="Address" class="form-control" required />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label asp-for="City">City:</label>
                    </td>
                    <td>
                        <input asp-for="City" class="form-control" required />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label asp-for="State">State:</label>
                    </td>
                    <td>
                        <input asp-for="State" class="form-control" required />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label asp-for="PostalCode">Postal Code:</label>
                    </td>
                    <td>
                        <input asp-for="PostalCode" class="form-control" required />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label asp-for="Country">Country:</label>
                    </td>
                    <td>
                        <select asp-for="Country" class="form-control">
                            <option value=1 selected>India</option>
                        </select>
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-primary">
                            @if (Model.TenantId > 0)
                            {
                                <text>Update Details</text>
                            }
                            else
                            {
                                <text>Register as Tenant</text>
                            }
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </div>


    <section class="section-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                </div>
                <div class="col-sm-12 col-md-4 section-md-t3">
                    <div class="widget-a">
                        <div class="w-header-a">
                            <h3 class="w-title-a text-brand">Krishna PG Care</h3>
                        </div>
                        <div class="w-body-a">
                            <p class="w-text-a color-text-a">
                                The Feeling like home when you are not at home. The PG for All who need to stay Home in city
                            </p>
                        </div>
                        <div class="w-footer-a">
                            <ul class="list-unstyled">
                                <li class="color-a">
                                    <span class="color-text-a">Phone .</span> +91 8401755303
                                </li>
                                <li class="color-a">
                                    <span class="color-text-a">Email .</span> krishnaPGCare@gmail.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="nav-footer">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">About</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Property</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Blog</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="socials-a">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="bi bi-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright-footer">
                        <p class="copyright color-text-a">
                            &copy; Copyright
                            <span class="color-a">Krishna PG Care</span> All Rights Reserved.
                        </p>
                    </div>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Krishna PG Care
                        -->
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <style>
        .tenant-form {
            max-width: 500px;
            margin: auto;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .checkbox {
            display: flex;
            align-items: center;
        }

        .checkbox-label {
            margin-right: 10px;
        }
    </style>
</body>
</html>
